@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #035996;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

/* Mengatur lebar scrollbar */
::-webkit-scrollbar {
  width: 6px; /* Lebar scrollbar */
  height: 6px;
}

/* Mengatur warna jalur scrollbar */
::-webkit-scrollbar-track {
  background-color: #ffffff;
}

/* Dark mode */
.dark ::-webkit-scrollbar-track {
  background-color: #1f2937; /* gray-800 */
}

/* Membuat thumb (bagian yang dapat digeser) transparan */
::-webkit-scrollbar-thumb {
  background-color: #00a6f4;
  border-radius: 10px;
}
