@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* ======= SCROLLBAR  =======*/

/* LIGHT MODE SCROLLBAR */

/* Mengatur lebar scrollbar */
::-webkit-scrollbar {
  width: 6px; /* Lebar scrollbar */
  height: 6px;
}

/* Mengatur warna jalur scrollbar */
::-webkit-scrollbar-track {
  background-color: #ffffff;
}

/* Membuat thumb (bagian yang dapat digeser) transparan */
::-webkit-scrollbar-thumb {
  background-color: #00a6f4;
  border-radius: 10px;
}

/* DARK MODE SCROLLBAR */

/* Track */
.dark ::-webkit-scrollbar-track {
  background-color: #101828;
}

/* Thumb */
.dark ::-webkit-scrollbar-thumb {
  background-color: #00a6f4;
}

/* Optional: hover */
.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #667085;
}
